<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resource Monitor</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<style>
    .header{
    overflow: hidden;
  background-color: #003B70;
  padding: 10px 10px;
  margin: 2px 2px;
  height: 8%;
  position: relative;

}
</style>
<body>
    <div class="header">
        <img src="https://online.citi.com/GFC/branding/img/Citi-Enterprise-White.png" alt="citilogo" height="40px">
        <!-- <img src="https://storage.googleapis.com/kaggle-competitions/kaggle/11117/logos/header.png" alt="citiheader" height="10%"> -->
        <!-- <p style="text-align: center; color: #D9261C;" >
            <b> CITI</b>
        </p> -->
        <p id="sysclock" style="float: right; color: white;">
        </p>
    </div>
</body>